@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.title{
    font-size: 80px;
}